{
	admin off

	log {
		output stderr
		format filter {
			# Preserves first 8 bits from IPv4 and 32 bits from IPv6
			request>remote_ip ip_mask 8 32
			request>client_ip ip_mask 8 32

			# Remove identificable information
			request>remote_port delete
			request>headers delete
			request>uri query {
				delete url
				delete h
				delete q
			}
		}
	}

	servers {
		client_ip_headers X-Forwarded-For X-Real-IP

		# Allow the following IP to passthrough the "X-Forwarded-*" headers to KuroSearch
		# https://caddyserver.com/docs/caddyfile/options#trusted-proxies
		trusted_proxies static private_ranges
		trusted_proxies_strict
	}
}

{$KUROSEARCH_HOST} {
	tls {$KUROSEARCH_TLS}

    root * /srv
	encode zstd gzip
    try_files {path} /index.html
	file_server

	@r34 path /r34/*
	handle @r34 {
		# If the request already has a query string, append creds; otherwise add them.
		@hasQuery expression `{query} != ""`
		rewrite @hasQuery /index.php{query}&api_key={$RULE34_API_KEY}&user_id={$RULE34_API_USER}

		@noQuery expression `{query} == ""`
		rewrite @noQuery /index.php?api_key={$RULE34_API_KEY}&user_id={$RULE34_API_USER}

		reverse_proxy https://api.rule34.xxx {
			header_up Host api.rule34.xxx
		}
	}

	header {
		# Disable browser features
		Permissions-Policy "accelerometer=(),camera=(),geolocation=(),gyroscope=(),magnetometer=(),microphone=(),payment=(),usb=()"
		# Only allow same-origin requests
		Referrer-Policy "same-origin"
		# Prevent MIME type sniffing from the declared Content-Type
		X-Content-Type-Options "nosniff"
		# Comment header to allow indexing by search engines
		X-Robots-Tag "noindex, nofollow, noarchive, nositelinkssearchbox, nosnippet, notranslate, noimageindex"
		# Remove "Server" header
		-Server
	}
}